body {
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  background-color: beige;
}

li {
  display: inline-block;
  font-size: 1.4rem;
  height: fit-content;
}
.nav-link {
  font-size: inherit;
  flex: 1;
  text-decoration: none;
  color: rgba(52, 37, 37, 0.462);
  padding: 0.75rem;
  transition: all 0.3s ease-out;
  background-color: inherit;
}

.nav-link:hover,
.nav-link:focus {
  color: rgba(149, 83, 43, 0.702);
  text-decoration: dotted;
  font-size: 1.5rem;
  background-color: coral;
}
